<div class="container" id="nameContainer">
    <div id="error_msg"></div>
    <div class="nameForm">
        <form id="nameInputForm">
            <input type="text" id="enterName" placeholder="Enter your name" autocomplete="off" required>
            <button type="submit" id="name_btn">Submit</button>
        </form>
    </div>
</div>
<div class="container" id="messageContainer">
    <h3>Messages</h3>
    <div class="message_users">
        <div id="chat_messages">
            
        </div>
        <div id="active_users"></div>
    </div>
    <div id="is_typing"></div>
    <div id="send_messages">
        <form id="message">
            <input type="text" id="user_msg" placeholder="Your message" autocomplete="off">
            <button type="submit" id="send_btn">Send</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>